<?xml version="1.0" encoding="utf-8"?>
<!-- n.b the last component of the versions is ignored, and replaced with the last svn modification revision -->
<packages>
  <package id="META.CadCreoParametricCreateAssembly" version="1.5.15.0" />
  
  <package id="META.ExtractACM-XMLfromCreoModels" version="1.5.2.0" />
  
  <package id="META.CADCreoParametricMetaLink" version="1.5.3.0" />
  
</packages>
