*.pb.cc text eol=lf
*.pb.h text eol=lf
proguard-project.txt eol=crlf
*.iml text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.csproj text eol=crlf
# "trailing-space" is fine for .md
*.md text whitespace=space-before-tab
