<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="http://build.isis.vanderbilt.edu/" />
    <add key="repositorypath" value="src\nuget" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="build.isis" value="http://build.isis.vanderbilt.edu/nuget/" />
  </packageSources>
</configuration>
