<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- This should really point to a shared set of packages.
    http://docs.nuget.org/docs/Release-Notes/NuGet-2.1#Specify_%e2%80%98packages%e2%80%99_Folder_Location 
    -->
  <config>
    <add key="repositorypath" value="..\Packages" />
  </config>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="nuget-org" value="https://nuget.org/api/v2/" />
  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
