*.mga
*.pyc
/MetaLink_*
CADCreoParametricCreateAssembly_err.log
CyPhy2CAD.log
components/**/*.acm
components/**/_FAILED.txt
components/**/config.pro
components/**/std.out
components/**/trail.txt.*
config/
dashboard/
design-space/
designs/
export_for_dashboard_scoring.py
index.html
log/
requirements/
stats/
test-benches/
