<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_atomic-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_chrono-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_date_time-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_filesystem-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_program_options-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_regex-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_system-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_thread-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="protobuf" version="2.5.0.0" targetFramework="Native" />
  <package id="protobuf-vc110" version="2.5.0.0" targetFramework="Native" />
  <package id="boost_log_setup-vc110" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_log-vc110" version="1.55.0.16" targetFramework="Native" /> 
</packages>