#tabpage form label
{
margin-top: 15px;
margin-right: 10px;
}

a,
a:hover
{
color: whiteSmoke;
text-decoration: none;
}


/* styles for bubble visualization */
.bubble {
  display: block;
  position: absolute;
}
.bubbleFill {
  position: absolute;
  display: block;
  border: solid 1px white;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
}
.bubbleFill:hover {
	border: solid 1px black;
}
.tooltip {
  position: absolute;
  display: block;
  border: solid 0px black;
}
.tooltipFill {
  position: absolute;
  display: block;
  border: solid 0px black;
}
.tooltipFill p {
  position: absolute;
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
  border: solid 1px black;
}
.navigation li {
  color: #999;
  font-size: 14px;
  cursor: pointer;
  float: left;
  padding: 10px 18px;
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  border-left: solid 1px #CCC;
  background: #f9f9f9;
  margin: 0 0;
}
.navigation li:first-of-type{
  border-radius: 4px 0 0 4px;
}
.navigation li:last-of-type{
  border-right: solid 1px #CCC;
  border-radius: 0 4px 4px 0;
}
.navigation li.selected {
  color: #000;
  background: #e9e9e9;
  border-color: #AAA;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}
.labels {
	position: absolute;
	left: 120px;
	top: 100px;
}
.ruler { 
	visibility: hidden; white-space: nowrap; 
}
