#tabpage form label
{
margin-top: 15px;
color: whiteSmoke;
margin-right: 10px;
}

vf-datatable2 tbody tr.even:hover, vf-datatable tbodytbody tr.even td.highlighted {
	background-color: rgba(102, 102, 102, 0.2);
}

vf-datatable2 tbody tr.odd:hover, vf-datatable tbody tbody tr.odd td.highlighted {
	background-color: rgba(102, 102, 102, 0.2);
}

th:nth-of-type(0) .DataTables_sort_icon,
th:nth-of-type(1) .DataTables_sort_icon
{
	display:none;
}

#pccTabletable_filter label{
	color: whitesmoke;
}

select 
{
	background-color: black;
	color: whiteSmoke;
}

label 
{
	padding-left: 10px;
}

select 
{
	width: 200px;
}

table-bordered td .width1 
{
	width: 50px !important;
}

button 
{
	background-color: black;
	color: #F5F5F5;
	border-style: solid;
	border-color: #F5F5F5;
	border-width: 1px;
}

.qrTable a:hover
{
	cursor:default;
}
.modal-body
{
	background: #5b5b5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #5b5b5b 0%, #a0a0a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5b5b5b 0%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5b5b5b 0%,#a0a0a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5b5b5b 0%,#a0a0a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5b5b5b 0%,#a0a0a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */
	color:white;
}

.modal-body label,
.modal-body .dataTables_info
{
color:white;
}



rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;   
}

text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
}


vf-heatmap-qualitative text {
	fill: white;
	z-index: 999;
}

vf-heatmap-qualitative .label
{
	fill: #666666;
}
div .info
{
	color: #bbbbbb;
}
