#tabpage form label
{
margin-top: 15px;
color: whiteSmoke;
margin-right: 10px;
}

vf-datatable tbody tr.even:hover, vf-datatable tbodytbody tr.even td.highlighted {
	background-color: rgba(102, 102, 102, 0.2);
}

vf-datatable tbody tr.odd:hover, vf-datatable tbody tbody tr.odd td.highlighted {
	background-color: rgba(102, 102, 102, 0.2);
}

vf-datatable th:nth-child(2), vf-datatable th:nth-child(3) {
	width: 400px;
}

th:nth-of-type(4) .DataTables_sort_icon,
th:nth-of-type(5) .DataTables_sort_icon
{
	display:none;
}

#pccTabletable_filter label{
	color: whitesmoke;
}

select 
{
	background-color: black;
	color: whiteSmoke;
}

label 
{
	padding-left: 10px;
}

select 
{
	width: 200px;
}

table-bordered td .width1 
{
	width: 50px !important;
}

button 
{
	background-color: black;
	color: #F5F5F5;
	border-style: solid;
	border-color: #F5F5F5;
	border-width: 1px;
}
.pccTable td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3)
{
	width: 100px;
}
.pccTable td: nth-child(4), th:nth-child(4)
{
	width: 350px;
}
.pccTable td:nth-child(5), th:nth-child(5)
{
	min-width: 300px;
	width: 40%;
}

.pccTable a:hover
{
	cursor:default;
}
.modal-body
{
	background: #5b5b5b; /* Old browsers */
	background: -moz-linear-gradient(top,  #5b5b5b 0%, #a0a0a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5b5b5b 0%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5b5b5b 0%,#a0a0a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5b5b5b 0%,#a0a0a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5b5b5b 0%,#a0a0a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */

	color:white;
}

.modal-body label,
.modal-body .dataTables_info
{
color:white;
}



rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;   
}

text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
}

vf-heatmap .label
{
	fill: #666666;
}

a.divider:hover
{
	background-color: transparent !important;
	color: #333333 !important;
	cursor: default !important;
}

a.divider
{
	background-color: transparent !important;
}

div
{
	color: #bbbbbb;
}