#tabpage form label
{
margin-top: 15px;
margin-right: 10px;
}

/* vf-datatable table *
{
border:none !important;
border-collapse: separate !important;
}

vf-datatable table
{
border-radius: 4px;
border-color: whiteSmoke;
border-width: 1px;
border-style: solid;
} */

a,
a:hover
{
color: whiteSmoke;
text-decoration: none;
}