<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\externals\desert\DesertBackCompare\packages.config" />
  <repository path="..\..\externals\desert\DesertDll\core\packages.config" />
  <repository path="..\..\externals\desert\DesertDll\packages.config" />
  <repository path="..\..\externals\desert\DesertTool\packages.config" />
  <repository path="..\..\externals\HCDDES\src\lib\SFCPrint\packages.config" />
  <repository path="..\..\externals\HCDDES\src\lib\SFCUdmEngine\packages.config" />
  <repository path="..\..\externals\HCDDES\src\lib\UdmBuilder\packages.config" />
  <repository path="..\CADAssembler\CADCommonFunctions\packages.config" />
  <repository path="..\CADAssembler\CADCommonTest\packages.config" />
  <repository path="..\CADAssembler\CADCreoParametricCommonFunctions\packages.config" />
  <repository path="..\CADAssembler\CADCreoParametricCreateAssembly\packages.config" />
  <repository path="..\CADAssembler\CADCreoParametricCreateAssemblyFunctions\packages.config" />
  <repository path="..\CADAssembler\CADCreoParametricDomainFunctionsDriver\packages.config" />
  <repository path="..\CADAssembler\CADCreoParametricMetaLink\packages.config" />
  <repository path="..\CADAssembler\CADCreoParametricToolkitFunctions\packages.config" />
  <repository path="..\CADAssembler\ExtractACM-XMLfromCreoModels\packages.config" />
  <repository path="..\CPMDecorator\CPMDecorator\packages.config" />
  <repository path="..\CyPhyDSEConverter\packages.config" />
  <repository path="..\CyPhyElaborate\packages.config" />
  <repository path="..\CyPhyFormulaEvaluator\packages.config" />
  <repository path="..\CyPhyMLComparator\packages.config" />
  <repository path="..\DesignSpaceHelper\packages.config" />
  <repository path="..\MetaLink\meta-link-creo\premake4\packages.config" />
  <repository path="..\UdmComparator\packages.config" />
</repositories>