<?xml version='1.0' encoding='windows-1252'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' RequiredVersion='3.0.4813.0'
 xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

  <?define UpgradeCode='23137f50-9a2e-415a-9586-4da5622203ee' ?>

  <Product Name='META toolchain' Id='*' UpgradeCode='$(var.UpgradeCode)'
      Language='1033' Codepage='1252' Version='$(var.VERSIONSTR)' Manufacturer='Vanderbilt University, ISIS'>

    <Package Id='*' Description='META Design Suite'
        Manufacturer='Vanderbilt University, ISIS'
        InstallerVersion='405' Languages='1033' Compressed='yes' SummaryCodepage='1252'
        InstallPrivileges='elevated' InstallScope='perMachine' Platform='x64'
    Comments='Created from $(var.VCSDESCRIPTION)'/>
    <Property Id='ARPCOMMENTS'>OpenMETA $(var.VCSDESCRIPTION)</Property>


    <!-- n.b Some .dlls aren't versioned properly (e.g. pywin32 v228 vs v223), so force reinstall. 
    Windows Installer plans to not install the .dll ("Disallowing installation of component: {A69B0BBA-1267-55F5-8E6D-651058AC4A93} since the same component with higher versioned keyfile exists"), then RemoveExistingProducts removes the .dll
    This .msi must not contain any shared .dlls, as they could be downgraded.
    -->
    <!-- schedule after FindRelatedProducts: WIX_UPGRADE_DETECTED is set there -->
    <SetProperty Id="REINSTALLMODE" Value="amus" Before="AppSearch">
      (ACTION="INSTALL") AND NOT (REMOVE="ALL") AND WIX_UPGRADE_DETECTED
    </SetProperty>

    <!-- afterInstallValidate is the default -->
    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />
    <Upgrade Id="E7E2109B-6CEA-4D8C-B020-1F0588DA719A">
      <UpgradeVersion OnlyDetect="no" Minimum="0.0.1" IncludeMinimum="yes" Maximum="100.100.100" IncludeMaximum="no" Property="OLDPREVIOUSFOUND"/>
    </Upgrade>
    <CustomActionRef Id="WixExitEarlyWithSuccess"/>
    
    <Media Id='1' Cabinet='META.cab' EmbedCab='yes' />
    <Media Id='3' Cabinet='META_bin.cab' EmbedCab='yes' />
    <Media Id='4' Cabinet='META_CAD.cab' EmbedCab='yes' />
    <Media Id='5' Cabinet='META_analysis_tools.cab' EmbedCab='yes' />

    <Condition Message="This application may only be installed on Windows 7 SP1 or later.">
      <!-- https://msdn.microsoft.com/en-us/library/windows/desktop/aa370556(v=vs.85).aspx -->
      <![CDATA[Installed OR ((VersionNT = 601 AND ServicePackLevel >= 1) OR VersionNT >= 603)]]>
    </Condition>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.5 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED]]>
    </Condition>

    <Condition Message="The installation environment is not correct. Possible cause: running under cygwin ssh with key authentication. Run `passwd -R` and ensure `/cygdrive/c/Windows/System32/whoami.exe` returns the correct username.">
      <![CDATA[Installed OR (WIX_DIR_COMMON_DOCUMENTS <> "")]]>
    </Condition>

    <Property Id='META_FULLVERSION' Value='$(var.VCSDESCRIPTION)'/>

    <Property Id='ARPPRODUCTICON' Value='META.ico' />
    <PropertyRef Id='WIX_DIR_COMMON_DOCUMENTS' />

    <WixVariable Id="WixUILicenseRtf" Value="..\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUiBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialog.bmp" />

    <Property Id="UCRTINSTALLED">
      <DirectorySearch Id="UCRTSystemSearch" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="UCRTFileSearch" Name="ucrtbase.dll"/>
      </DirectorySearch>
    </Property>
    <Condition Message="This application requires the Universal CRT. Please install KB2999226 via Windows Update or https://support.microsoft.com/en-us/kb/2999226">
      <![CDATA[Installed OR UCRTINSTALLED]]>
    </Condition>

    <Property Id="MSVCPINSTALLED">
      <DirectorySearch Id="MSVCPSystemSearch" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="MSVCPFileSearch" Name="msvcp140.dll"/>
      </DirectorySearch>
    </Property>
    <Condition Message="This application requires Visual C++ Redistributable for Visual Studio 2015">
      <![CDATA[Installed OR MSVCPINSTALLED]]>
    </Condition>


    <!-- =========================================================== -->
    <!-- DIRECTORY STRUCTURE -->
    <!-- =========================================================== -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='SystemFolder' Name='SystemFolder'/>
      <Directory Id='System64Folder' Name='System64Folder'/>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='INSTALLDIR64' Name='META'>
          <Directory Id='INSTALLDIR64_BIN' Name='bin'/>
        </Directory>
      </Directory>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='META'>
          <Directory Id='analysis_tools' Name='analysis_tools'/>
          <Directory Id='INSTALLDIR_BIN' Name='bin'>
            <Directory Id='bin'/>
            <Directory Id='Json.NET'/>
            <Directory Id='Ionic.Zip' />
            <Directory Id='dot_bin' Name='dot'/>
            <Directory Id='CodeGenPython' Name='CodeGenPython'>
              <Directory Id='generated_BlockTemplate_Python'/>
              <Directory Id='src_BlockTemplate_Python'/>
            </Directory>
          </Directory>
          <Directory Id='INSTALLDIR_DOC' Name='doc'/>
          <Directory Id='INSTALLDIR_META' Name='meta'>
            <Directory Id='icons' Name='icons'/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="WIX_DIR_COMMON_DOCUMENTS">
          <Directory Id='example_models' Name='META Documents'>
            <Directory Id='ifv_model' Name='IFV Model'>
              <Directory Id='Manufacturing_CAD' Name='Manufacturing-CAD'>
                <Directory Id='Components' Name='Components'/>
              </Directory>
              <Directory Id='Include' Name='Include'/>
            </Directory>
            <Directory Id='MaterialLibrary' Name='MaterialLibrary'/>
            <Directory Id='Validation' Name='Validation'/>

          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="META"/>
      </Directory>
    </Directory>

    <!-- =========================================================== -->
    <!-- COMPONENTS -->
    <!-- =========================================================== -->

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{C5414B00-7AB4-47F4-85A9-A66ACFF764B2}">
        <Shortcut Id="JobManagerShortcut" Name="META Job Manager" Description="META Job Manager" Target="[#JobManager.exe]"/>
        <RemoveFolder Id='ApplicationProgramsFolderDir' On='uninstall' />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\META" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="INSTALLDIR_META">
      <Component Win64='no'>
        <File Name="CyPhyML.mta" Source="..\generated\CyPhyML\models\CyPhyML.mta" />
        <RegistryKey Root='HKLM' Key='Software\GME\Paradigms\CyPhyML'>
          <RegistryValue Name='CurrentVersion' Type='string' Value='$(var.GUIDSTRCYPHYML)'/>
          <RegistryValue Name='$(var.VERSIONSTRCYPHYML)' Type='string' Value='$(var.GUIDSTRCYPHYML)'/>
          <RegistryKey Key='$(var.GUIDSTRCYPHYML)'>
            <RegistryValue Name='ConnStr' Type='string' Value='MGA=[INSTALLDIR_META]CyPhyML.mta'/>
          </RegistryKey>
        </RegistryKey>
    <RegistryKey Root='HKCU' Key='Software\GME'>
      <RegistryValue Name='TimeStamping' Type='string' Value='1'/>
    </RegistryKey>
        <RemoveRegistryKey Id='RemoveUserCyPhyML' Action='removeOnInstall' Root='HKCU' Key='Software\GME\Paradigms\CyPhyML' />
      </Component>
      <Component Win64='no'>
        <File Source="..\meta\CyPhyML\CyPhyML.xme"/>
      </Component>
       <Component Win64='no'>
        <File Source="..\src\CyPhyMLCS\bin\Release\CyPhyML.xml"/>
      </Component>
      <Component Win64='no'>
        <File Source="..\generated\CyPhyML\models\CyPhyML_udm.xml"/>
      </Component>
      <Component Win64='no'>
        <File Source="..\generated\CyPhyML.xsd"/>
      </Component>

    </DirectoryRef>

    <DirectoryRef Id='INSTALLDIR'>
      <Component Id='META_PATH' Guid='{f6504e26-e4c7-4667-a5b4-b5e8a4110235}' Win64='no'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='META_PATH' Type='string' Value='[INSTALLDIR]'/>
        </RegistryKey>
      </Component>
      <Component Id='META_VERSION' Guid='{6e8cae49-ac6d-423f-9d7c-f36d9ae6fcbc}' Win64='no'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='META_VERSION' Type='string' Value='$(var.VERSIONSTR)'/>
        </RegistryKey>
      </Component>
      <Component Id='META_VCSHASH' Guid='{63979997-6993-4d32-b1f7-0db7a37cdf4b}' Win64='no'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='META_VCSHASH' Type='string' Value='$(var.VCSHASH)'/>
        </RegistryKey>
      </Component>
      <Component Id='META_FULLVERSION' Guid='{a4339136-716f-4621-8457-3c65f0a9c3e2}' Win64='no'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='META_FULLVERSION' Type='string' Value='$(var.VCSDESCRIPTION))'/>
        </RegistryKey>
      </Component>
      <Component Id='MAX_DYMOLA_STEP_TIME' Guid='{4ED177DD-87CC-4FF8-9E0A-23D640C5C312}' Win64='no'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='MAX_DYMOLA_STEP_TIME' Type='integer' Value='3000'/>
        </RegistryKey>
      </Component>
      <Component Id='MAX_SIMULATION_TIME' Guid='{DE4B7358-A824-4C34-B6D0-32E60EFFF25F}' Win64='no'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='MAX_SIMULATION_TIME' Type='integer' Value='86400'/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='INSTALLDIR64'>
      <Component Id='META_PATH64' Guid='{f6a44af1-b3ff-4720-b38b-fbc7686fa3b7}' Win64='yes'>
        <RegistryKey Root='HKLM' Key='Software\META'>
          <RegistryValue Name='META_PATH' Type='string' Value='[INSTALLDIR]'/>
        </RegistryKey>
      </Component>
    </DirectoryRef>


    <ComponentGroup Id="JobManager">
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\src\JobManager\JobManager\bin\Release\JobManager.exe'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\src\JobManager\JobManager\bin\Release\JobManagerFramework.dll'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\3rdParty\System.Data.SQLite\SQLite.Interop.dll'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\3rdParty\System.Data.SQLite\System.Data.SQLite.dll'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\3rdParty\System.Data.SQLite\System.Data.SQLite.Linq.dll'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\src\JobManager\JobManagerLib\bin\Release\JobManagerLib.dll' Assembly='.net' />
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\src\CyPhyMasterExe\bin\Release\CyPhyMasterExe.exe'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\src\JobManager\JobManager\app.config' Name='JobManager.exe.config'/>
      </Component>
      <Component Directory='INSTALLDIR_BIN' Win64='no'>
        <File Source='..\src\AvmDdp\bin\Release\AvmDdp.dll'/>
      </Component>
    </ComponentGroup>
    <DirectoryRef Id='INSTALLDIR_BIN'>
      <Component Id='CPMDecorator.dll' Win64='no'>
        <File Id="CPMDecorator.dll" Name="CPMDecorator.dll" KeyPath="yes" Source="..\src\bin\CPMDecorator.dll">
          <Class Id="{BF4CBC84-0816-4FAD-A088-F61598B29F51}" Context="InprocServer32" Description="MGA Decorator CoClass (CPMDecorator)" ThreadingModel="apartment" Programmable="yes">
            <ProgId Id="MGA.CPMDecorator.1" Description="MGA Decorator CoClass (CPMDecorator)">
              <ProgId Id="MGA.CPMDecorator" Description="MGA Decorator CoClass (CPMDecorator)" />
            </ProgId>
          </Class>
        </File>
      </Component>

      <Component Win64='no'>
        <File Source="..\src\CLM_light\bin\Release\ClmLib.dll"/>
      </Component>
      <Component Win64='no'>
        <File Source="..\src\ISIS.VehicleForge\bin\Release\ISIS.VehicleForge.dll"/>
      </Component>
      <Component Win64='no'>
        <File Source="..\src\ISIS.Jenkins\bin\Release\ISIS.Jenkins.dll"/>
      </Component>
      <Component Win64='no'>
        <File Source="..\src\ISIS.Web\bin\Release\ISIS.Web.dll"/>
      </Component>
      
      <Component Win64='no'>
        <File Source="..\meta\Complexity\ComplexityDomainLib_vs10\bin\Release\ComplexityDomainLib_vs10.dll"/>
      </Component>
      <Component Win64='no'>
        <File Source="..\src\DesignInterchange2ComplexityLib\bin\Release\MetaDesignInterchange2ComplexityLib_vs10.dll"/>
      </Component>

      <Component Win64='no'>
        <File Source='..\src\CyPhyMLCS\bin\Release\CyPhyML.dll' Assembly='.net' />
      </Component>
      <Component Win64='no'>
        <File Source='..\externals\common-scripts\ISIS.GME.Common.dll' Assembly='.net' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='INSTALLDIR_BIN'>
      <Component Win64='no'>
        <File Source="..\src\bin\desert.dll" />
      </Component>
    </DirectoryRef>
    
    <Component Directory="INSTALLDIR_BIN" Win64="no">
      <File Source="..\meta\DesignDataPackage\lib\csharp\OpenMETA.Interchange\bin\Release\OpenMETA.Interchange.dll"/>
    </Component>
    <Component Directory="INSTALLDIR_BIN" Win64="no">
      <File Source="..\src\CyPhyComponentImporter\bin\Release\CyPhy2ComponentModel.dll"/>
    </Component>
    <Component Directory="INSTALLDIR_BIN" Win64="no">
      <File Source="..\src\CyPhy2DesignInterchange\bin\Release\CyPhy2DesignInterchange.dll"/>
    </Component>
    <Component Directory="INSTALLDIR_BIN" Win64="no">
      <File Source="..\src\ComponentLibraryManager\bin\Release\ComponentLibraryManager.dll"/>
    </Component>

    <!-- =========================================================== -->
    <!-- FEATURES -->
    <!-- =========================================================== -->
    <Feature Id='Complete' Title='META Toolchain' Description='The complete package' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <ComponentRef Id='CPMDecorator.dll'/>
      <ComponentRef Id='ApplicationShortcut'/>
      <ComponentRef Id='CyPhyML.mta'/>
      <ComponentGroupRef Id='icons'/>
      <ComponentRef Id='CyPhyML.xme'/>
      <ComponentRef Id='CyPhyML.xml'/>
      <ComponentRef Id='CyPhyML_udm.xml'/>
      <ComponentRef Id='CyPhyML.xsd'/>

      <ComponentRef Id='CyPhyAddOn.dll'/>

      <ComponentRef Id='CyPhyFormulaEvaluator.dll'/>
      <ComponentRef Id='DesignSpaceHelper.dll'/>
      <ComponentRef Id='desert.dll'/>
      <ComponentRef Id='CyPhyCAExporter.dll'/>
      <ComponentRef Id='ComponentLibraryManager.dll'/>
      <ComponentGroupRef Id='ComponentLibraryManagerAddOn'/>
      <ComponentGroupRef Id='CyPhyCriticalityMeter'/>
      <ComponentGroupRef Id='CyphyDSEConverter'/>
      <ComponentGroupRef Id='CyPhyDSRefiner'/>
      <ComponentRef Id='OpenMETA.Interchange.dll' />
      <ComponentRef Id='CyPhy2ComponentModel.dll' />
      <ComponentGroupRef Id='CyPhyComponentImporter' />
      <ComponentGroupRef Id='CyPhyComponentExporter' />
      <ComponentGroupRef Id='ComponentExportImportCL' />
      <ComponentGroupRef Id='SubTreeMerge' />
      <ComponentGroupRef Id="CyPhyDesignExporter" />
      <ComponentGroupRef Id="CyPhyDesignImporter" />
      <ComponentGroupRef Id="CyPhyTestBenchExporter" />
      <ComponentGroupRef Id="CyPhyTestBenchImporter" />
      <ComponentGroupRef Id='dot_bin'/>
      <ComponentGroupRef Id='bin'/>
      <ComponentGroupRef Id='analysis_tools'/>
      <ComponentRef Id='META_PATH'/>
      <ComponentRef Id='META_VERSION'/>
      <ComponentRef Id='META_VCSHASH'/>
      <ComponentRef Id='META_FULLVERSION'/>
      <ComponentRef Id='META_PATH64'/>

      <ComponentRef Id='MAX_DYMOLA_STEP_TIME'/>
      <ComponentRef Id='MAX_SIMULATION_TIME'/>
      <ComponentRef Id='CyPhyML.dll'/>
      <ComponentRef Id='ISIS.GME.Common.dll'/>

      <ComponentGroupRef Id='CyPhyPET'/>

      <ComponentGroupRef Id="CyPhySignalBlocksAddOn"/>
      <ComponentGroupRef Id="CyPhySignalBlocksAddOn_x64"/>
      <ComponentGroupRef Id="CyPhyPython"/>
      <ComponentGroupRef Id="python_packages"/>
	  
      <ComponentGroupRef Id='CyPhyMasterInterpreter'/>
    <ComponentGroupRef Id='CyPhyPrepareIFab'/>
    <ComponentGroupRef Id='CyPhyCADAnalysis'/>
    <ComponentGroupRef Id='CyPhySoT'/>
      <ComponentGroupRef Id='JobManager'/>
      <ComponentRef Id='JobManagerLib.dll'/>
      <ComponentGroupRef Id='CyPhyGUIs'/>
      <ComponentRef Id='CyPhyMasterExe.exe'/>
      <ComponentGroupRef Id='CLM_light'/>
      <ComponentRef Id='ClmLib.dll'/>
      
      <ComponentRef Id='ISIS.Jenkins.dll'/>
      <ComponentRef Id='ISIS.VehicleForge.dll'/>
      <ComponentRef Id='ISIS.Web.dll'/>
      
      <ComponentRef Id='ComplexityDomainLib_vs10.dll'/>
      <ComponentRef Id='MetaDesignInterchange2ComplexityLib_vs10.dll'/>
      <ComponentRef Id='CyPhy2DesignInterchange.dll'/>
      <ComponentRef Id='CyPhyDecoratorAddon.dll'/>

      <!-- <ComponentGroupRef Id='DashboardVisualizer'/> -->

      <ComponentRef Id='CyPhyMdaoAddOn.dll'/>
      <ComponentRef Id='WorkflowDecorator.dll'/>

      <ComponentGroupRef Id='CyPhy2Modelica_v2'/>
      <ComponentGroupRef Id='CyPhyElaborateCS'/>
      <ComponentGroupRef Id='CyPhyReliabilityAnalysis'/>
      <ComponentGroupRef Id='CyPhyComponentFidelitySelector'/>
      <ComponentGroupRef Id='CyPhyComponentAuthoring'/>
      <ComponentGroupRef Id='ModelicaImporter'/>
      <ComponentGroupRef Id='CyPhyComplexity'/>
      <ComponentGroupRef Id='CyPhyMLSync'/>
      <ComponentGroupRef Id='CyPhyComponentParameterEditor'/>
      <ComponentGroupRef Id='CyPhyMultiJobRun'/>
      <ComponentGroupRef Id='CyPhyCar'/>

	  <ComponentGroupRef Id='DesignConsistencyChecker'/>
      
      <ComponentRef Id='CyPhyElaborate.dll'/>

      <ComponentRef Id='ReferenceSwitcher.dll'/>

      <ComponentGroupRef Id='Json.NET'/>

      <ComponentGroupRef Id='MaterialLibrary'/>
      <ComponentGroupRef Id='Validation'/>
      
      <ComponentGroupRef Id='Ionic.Zip'/>
      <!--<ComponentGroupRef Id='ComponentAuthoringAssistant'/>-->
      <ComponentGroupRef Id='CyPhy2CAD_CSharp'/>
      <Feature Id='DSE' Title='Design Space Exploration' Level='1'/>
      <Feature Id='Static_Analysis' Title='Statics Analysis' Level='1' />
      <Feature Id='Dynamics_Analysis' Title='Dynamics Analysis' Level='1' />
      <Feature Id='models' Title='Example Models' Level='1'>
      </Feature>

      <Feature Id='CAD' Title='CAD' Level='1'>
        <Feature Id='Creo_ISIS_Extensions' Title='Creo ISIS Extensions' Level='1'>
          <ComponentGroupRef Id='CAD_exes'/>
        </Feature>
      </Feature>

    </Feature>

    <!-- =========================================================== -->
    <!-- USER INTERFACE -->
    <!-- =========================================================== -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <InstallUISequence>
        <Show Dialog="UserExit" OnExit="cancel">0</Show>
      </InstallUISequence>
    </UI>

  </Product>
</Wix>
