<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="http://nuget.isis.vanderbilt.edu/" />
    <add key="repositorypath" value="CAD_Installs" />
  </config>
  <packageSources>
    <add key="CADCreoParametricCreateAssembly" value="..\src\CADAssembler\CADCreoParametricCreateAssembly" />
    <add key="ExtractACM-XMLfromCreoModels" value="..\src\CADAssembler\ExtractACM-XMLfromCreoModels" />
    <add key="CADCreoParametricMetaLink" value="..\src\CADAssembler\CADCreoParametricMetaLink" />
  </packageSources>
</configuration>
