<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyPhyMasterInterpreter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CyPhyMasterInterpreter.Properties.Settings>
            <setting name="bPostTojobManager" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bSaveTestBenches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bOpenDashboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShowDirty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bVerboseLogging" serializeAs="String">
                <value>False</value>
            </setting>
        </CyPhyMasterInterpreter.Properties.Settings>
    </userSettings>
</configuration>