<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_filesystem-vc100" version="1.55.0.15" targetFramework="Native" />
  <package id="boost_system-vc100" version="1.55.0.15" targetFramework="Native" />
  <package id="muparser" version="1.34" targetFramework="Native" />
  <package id="muparser-vc100" version="1.34.2" targetFramework="Native" />
</packages>