!
! ${filename} - AUTO GENERATED
! Generated with AVM CyPhy META Tools - Vanderbilt University
! ${timestamp}
!
!
$vehicle_identifier 
 $VEHICL
  NUNITS = 1,
  NSUSP = 2,
  NVEH1 = 0,
  NFL = 1,
  REFHT1 = 40.0,
  HTCHFZ = 0.0,
  SFLAG = 1, 1, 0, 0, 0,
  IP = 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
  IB = 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
  EFFRAD = 16.5,16.5,0.0,16.5,16.0,
  ELL = 215.0,95.0,0.0,286.8,34.0,
  BWIDTH(1) = 60.0,60.0,
  BALMU(1) = 26.0,11.0,
  BALMD(1) = -11.0,-26.0,
  EQUILF(1) = $FrontAxleWeight, $RearAxleWeight,
  CGZ1 = 53.0,
  CGZ2 = 0.0,
  DEE1 = 137.0,
  ZEE1 = 51.0,
  DEE2 = 0.0,
  ZEE2 = 0.0,
  DELTW1 = 0.0,
  DELTW2 = 0.0,
  NPTSC1 = 5,
  NPTSC2 = 0,
  XCLC1(1) = 315.0,303.0,18.0,13.0,0.0,
  YCLC1(1) = 44.0,31.0,34.0,40.0,40.0,
  XCLC2(1) = 0.0,
  YCLC2(1) = 0.0,
  ZS = 0.0,0.0,0.0,33.25,35.5,
 $END
 