<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_atomic-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_chrono-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_date_time-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_filesystem-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_program_options-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_system-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="boost_thread-vc100" version="1.55.0.16" targetFramework="Native" />
  <package id="czmq" version="2.1.0-alpha" targetFramework="Native" />
  <package id="libzmq" version="4.1.0" targetFramework="Native" />
  <package id="libzmq.redist" version="4.1.0" targetFramework="Native" />
  <package id="log4cpp" version="1.1.0.2" targetFramework="Native" />
  <package id="log4cpp.redist" version="1.1.0.2" targetFramework="Native" />
</packages>
