<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JobManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <JobManager.Properties.Settings>
      <setting name="CommandUri" serializeAs="String">
        <value>tcp://localhost:35010/JobServer</value>
      </setting>
      <setting name="MatLabUri" serializeAs="String">
        <value>tcp://localhost:35010/JobServer</value>
      </setting>
      <setting name="CADUri" serializeAs="String">
        <value>tcp://localhost:35010/JobServer</value>
      </setting>
      <setting name="VehicleForgeUri" serializeAs="String">
        <value/>
      </setting>
      <setting name="SSHHost" serializeAs="String">
        <value>129.59.105.248</value>
      </setting>
      <setting name="SSHUser" serializeAs="String">
        <value>meta</value>
      </setting>
      <setting name="SSHPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="RemoteExecution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WipeWorkspaceOnSuccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteJobOnSuccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value/>
      </setting>
      <setting name="JenkinsUri" serializeAs="String">
        <value/>
      </setting>
    </JobManager.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="JobManagerEntities1" connectionString="metadata=res://*/SavedJobs.csdl|res://*/SavedJobs.ssdl|res://*/SavedJobs.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\meta\Desktop\JobManagerForm.db&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.data>
	<DbProviderFactories>
        <remove invariant="System.Data.SQLite"/>
		<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
	</DbProviderFactories>
  </system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="GME.MGA" publicKeyToken="F240A760FE751C2E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GME.MGA.Meta" publicKeyToken="F240A760FE751C2E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GME.MGA.Core" publicKeyToken="F240A760FE751C2E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
